<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <a class="navbar-brand" href="#">brokemenu</a>
  <button class="navbar-toggler collapsed" type="button"
          data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline mt-2 mt-md-0" #loginForm="ngForm"
          (ngSubmit)="logIn(loginForm.value)">
      <input type="text" name="username" class="form-control mr-sm-2"
             placeholder="Username" ngModel>
      <input type="password" name="password" class="form-control mr-sm-2"
             placeholder="Password" ngModel>
      <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Login</button>
    </form>
  </div>
</nav>
<div class="container">
  <form class="form-signin" #customer="ngForm"
        (ngSubmit)="registerCustomer(customer.value)">
    <h4 class="form-signin-heading">Sign Up</h4>
    <label for="username" class="sr-only">Username:</label>
    <input type="text" name="username" class="form-control col-xs-4"
           placeholder="Username" ngModel>
    <label for="password" class="sr-only">Password:</label>
    <input type="password" name="password" class="form-control col-xs-4"
           placeholder="Password" ngModel>
    <label for="name" class="sr-only">Full Name:</label>
    <input type="text" name="name" class="form-control col-xs-4"
           placeholder="Name" ngModel>
    <label for="address" class="sr-only">Email:</label>
    <input type="text" name="address" class="form-control col-xs-4"
           placeholder="Address" ngModel>
    <button type="submit" class="btn btn-lg btn-success btn-block">Sign
      Up</button>
  </form>
</div>
